.detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.image_content {
  display: flex;
  align-items: center;
}

.image_content img {
  width: 100%;
  border-radius: 2rem;
  height: 35rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1 {
  text-transform: uppercase;
  font-size: 4rem;
}

.content span {
  font-weight: 500;
}

.content_activities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content_activities div {
  margin-bottom: 3rem;
}

.content_activities span {
  font-weight: 500;
  /* text-transform: capitalize; */
}
